<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

 
	
    <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.maven.ssm" />
	 <!-- 扩充了注解驱动，可以将请求参数绑定到控制器参数 --> 
	 <!-- 启用默认配置com.maven.ssm.config.FastjsonConverterConfig -->
    <mvc:annotation-driven >
	    <mvc:message-converters register-defaults="true">
            <ref bean="fastJsonHttpMessageConverter" />   
	     </mvc:message-converters>
	</mvc:annotation-driven>
	
	<mvc:default-servlet-handler />
   
	
	<!-- <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">    
        <constructor-arg value="UTF-8" index="0"></constructor-arg>  
        <property name="supportedMediaTypes">    
            <list>    
                <value>text/plain</value>
            </list>    
        </property>    
    </bean> -->  

 <!--org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter 启动Spring MVC的注解功能，完成请求和注解POJO的映射  org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter -->
   <!--  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">  
            <list>  
				<ref bean="stringHttpMessageConverter" />
                <ref bean="mappingJackson2HttpMessageConverter" />
            </list>  
        </property>  
    </bean> -->
    <!-- 配置Fastjson支持 -->
	<bean id="fastJsonHttpMessageConverter"
		class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<!-- 这里先写text/html,不然会出现下载提示 -->
				<!-- <value>text/html;charset=UTF-8</value> -->
				<value>application/json</value>
			</list>
		</property>
		<property name="features">
			<array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
				<!-- 避免循环引用 -->
				<value>DisableCircularReferenceDetect</value>
				<!-- 是否输出值为null的字段 -->
				<value>WriteMapNullValue</value>
				<!-- 数值字段如果为null,输出为0,而非null -->
				<value>WriteNullNumberAsZero</value>
				<!-- 字符类型字段如果为null,输出为"",而非null -->
				<value>WriteNullStringAsEmpty</value>
				<!-- List字段如果为null,输出为[],而非null -->
				<value>WriteNullListAsEmpty</value>
				<!-- Boolean字段如果为null,输出为false,而非null -->
				<value>WriteNullBooleanAsFalse</value>
			</array>
		</property>
		<property name="dateFormat" value="yyyy-MM-dd HH:mm:ss" />
	</bean>


    <!-- <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">    
        <constructor-arg value="UTF-8" index="0"></constructor-arg>  
        <property name="supportedMediaTypes">    
            <list>    
                <value>text/plain;charset=UTF-8</value>
            </list>    
        </property>    
    </bean>

    <bean id="mappingJackson2HttpMessageConverter"  
	    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
	    <property name="supportedMediaTypes">  
	        <list>  
	            <value>application/json;charset=UTF-8</value>  
	        </list>  
	    </property>  
	</bean> -->
	
	<!-- json转换器  --> 
	<!-- <bean  
	    class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">  
	    <property name="messageConverters">  
	        <list>  
	            <ref bean="mappingJackson2HttpMessageConverter" />  
	        </list>  
	    </property>  
	</bean>  
	<bean id="mappingJackson2HttpMessageConverter"  
	    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
	    <property name="supportedMediaTypes">  
	        <list>  
	            <value>application/json;charset=UTF-8</value>  
	        </list>  
	    </property>  
	</bean>   -->
	
	 <!-- 视图解释类 -->  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/jsp/"/>  
        <property name="suffix" value=".jsp"/>  
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />  
    </bean>  
      
 
    <!-- 国际化配置 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> 
        <property name="basename"> 
            <value>message</value> 
        </property> 
        <property name="defaultEncoding"> 
            <value>UTF-8</value> 
        </property> 
    </bean> 

</beans> 